## Project: Data Cleaning with Pandas

#### Below will be a series of user stories, followed by an empty Python code block
* These user stories will go through the process of importing, cleaning, and exporting the included `dirty_cars_dataset.csv` file
* Be sure to read each question carefully, and to test and debug your code to ensure the user story is completed correctly!

### As a Data Analyst, I want to set up the proper imports so I have access to the Pandas library

In [1]:
import pandas as pd

### As a Data Analyst, I want to import and store the `dirty_cars_dataset.csv` file in a variable
✅ I want to use the `index` column from this .csv file as the `index column` of my DataFrame

In [2]:
df = pd.read_csv('dirty_cars_dataset.csv', index_col='index')
df

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,1650000.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
83,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

### As a Data Analyst, I want to view the **information** about my new DataFrame to answer the following questions:
##### Enter your responses in the Markdown block below

* How many entries are in this DataFrame: 64 entries/rows
* How many columns are in this DataFrame: 9 columns, 10 with index
* Which column(s) contain null values in this DataFrame: Price column appears to contain 3 null values

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64 entries, 0 to 88
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           64 non-null     object
 1   body-style        64 non-null     object
 2   wheel-base        64 non-null     float64
 3   length            64 non-null     float64
 4   engine-type       64 non-null     object
 5   num-of-cylinders  64 non-null     object
 6   horsepower        64 non-null     int64
 7   average-mileage   64 non-null     int64
 8   price             61 non-null     float64
dtypes: float64(3), int64(2), object(4)
memory usage: 5.0+ KB

### As a Data Analyst, I want to to remove any null values from the DataFrame
✅ I want to **create a new DataFrame variable** when I remove these null values<br>
✅ Then, I want to display the **information** about my new DataFrame, to confirm the null values were successfully removed

In [4]:
nonnull_df = df.dropna()
nonnull_df.info()
# 61 entries, 61 non-null values

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61 entries, 0 to 88
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           61 non-null     object
 1   body-style        61 non-null     object
 2   wheel-base        61 non-null     float64
 3   length            61 non-null     float64
 4   engine-type       61 non-null     object
 5   num-of-cylinders  61 non-null     object
 6   horsepower        61 non-null     int64
 7   average-mileage   61 non-null     int64
 8   price             61 non-null     float64
dtypes: float64(3), int64(2), object(4)
memory usage: 4.8+ KB

### As a Data Analyst, I want to check if there are any **duplicate rows** within my DataFrame

In [5]:
nonnull_df.duplicated().sort_values(ascending= False)
# 3 duplicate rows in the DF
# rows: 27, 49, 83

index
83     True
49     True
27     True
0     False
61    False
      ...
35    False
36    False
37    False
38    False
88    False
Length: 61, dtype: bool

### As a Data Analyst, I want to **remove** any duplicate values from the DataFrame
✅ I want to **create a new DataFrame variable** when I remove these duplicate values<br>
✅ I want to again check if there are any duplicate rows within my DataFrame, to ensure the values were removed successfully

In [6]:
deduped_df = nonnull_df.drop_duplicates()
deduped_df.duplicated().sort_values(ascending= False)
deduped_df
# no more duplicate values in DF

# should have 58 entries now:
deduped_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 58 entries, 0 to 88
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           58 non-null     object
 1   body-style        58 non-null     object
 2   wheel-base        58 non-null     float64
 3   length            58 non-null     float64
 4   engine-type       58 non-null     object
 5   num-of-cylinders  58 non-null     object
 6   horsepower        58 non-null     int64
 7   average-mileage   58 non-null     int64
 8   price             58 non-null     float64
dtypes: float64(3), int64(2), object(4)
memory usage: 4.5+ KB

### As a Data Analyst, I want to ensure I remove any outlier values from my DataFrame to avoid inaccurate analysis of my data
✅I want to **create a new DataFrame variable** when I remove these values<br><br>
💡 **Hint:** These inaccuracies will be within the `price` column 💡<br><br>
💡 **Hint** There will be both **high** and **low** outlier values 💡

In [7]:
# Removing outlier values
price_sorted_df = deduped_df.sort_values('price')
price_sorted_df

# index row 53 and 2 have values of 709 and 1650000 respectively, which are certainly incorrect and hence outliers. to be removed:
no_outlier_df = price_sorted_df.drop([2, 53])
no_outlier_df

# should have 56 entries now:
no_outlier_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56 entries, 16 to 47
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   company           56 non-null     object
 1   body-style        56 non-null     object
 2   wheel-base        56 non-null     float64
 3   length            56 non-null     float64
 4   engine-type       56 non-null     object
 5   num-of-cylinders  56 non-null     object
 6   horsepower        56 non-null     int64
 7   average-mileage   56 non-null     int64
 8   price             56 non-null     float64
dtypes: float64(3), int64(2), object(4)
memory usage: 4.4+ KB

In [8]:
# Removing low outlier values
# already done in previous question

### As a Data Analyst, I want to reformat the **company** series, ensuring all company name values are properly title (Pascal) cased

In [9]:
no_outlier_df['company'] = no_outlier_df['company'].str.title()
title_cased_df = no_outlier_df
title_cased_df

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
16,Chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0
36,Mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0
66,Toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0
48,Mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0
37,Mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0
50,Mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0
20,Dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0
17,Chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0
67,Toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0
19,Dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0
68,Toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0
18,Chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0
54,Nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0
30,Isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0
38,Mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0
55,Nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0
69,Toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0
51,Mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0
26,Honda,wagon,96.5,157.1,ohc,four,76,30,7295.0
56,Nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0
80,Volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0
70,Toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0
81,Volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,Volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
52,Mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0
71,Toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0
86,Volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
29,Honda,sedan,96.5,169.1,ohc,four,100,25,10345.0
39,Mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0
87,Volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
28,Honda,sedan,96.5,175.4,ohc,four,101,24,12945.0
88,Volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0
0,Alfa-Romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
57,Nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0
3,Audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
5,Audi,sedan,99.8,177.3,ohc,five,110,19,15250.0
79,Toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0
9,Bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0
1,Alfa-Romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
10,Bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0
4,Audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
43,Mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0
6,Audi,wagon,105.8,192.7,ohc,five,110,19,18920.0
11,Bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0
44,Mercedes-Benz,sedan,110.0,190.9,ohc,five,123,22,25552.0
45,Mercedes-Benz,wagon,110.0,190.9,ohc,five,123,22,28248.0
13,Bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0
33,Jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0
61,Porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0
34,Jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0
35,Jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0
15,Bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0
62,Porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0
46,Mercedes-Benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0
14,Bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0
47,Mercedes-Benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0

### As a Data Analyst, I want to create a ***new*** column on my DataFrame to represent the **price of each car in Euros**
💡 **Use the conversion rate 1.05 USD == 1 Euro** 💡

In [10]:
title_cased_df['price-EUR'] = title_cased_df['price'] / 1.05
title_cased_df = title_cased_df.round(decimals= {'price-EUR':2})
title_cased_df

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price,price-EUR
index,,,,,,,,,,
16,Chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0,4905.71
36,Mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0,4947.62
66,Toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0,5093.33
48,Mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0,5132.38
37,Mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0,5804.76
50,Mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0,5894.29
20,Dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0,5932.38
17,Chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0,5995.24
67,Toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0,6036.19
19,Dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0,6073.33
68,Toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0,6179.05
18,Chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0,6261.90
54,Nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0,6332.38
30,Isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0,6461.90
38,Mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0,6471.43
55,Nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0,6522.86
69,Toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0,6588.57
51,Mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0,6656.19
26,Honda,wagon,96.5,157.1,ohc,four,76,30,7295.0,6947.62
56,Nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0,6999.05
80,Volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0,7404.76
70,Toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0,7521.90
81,Volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0,7595.24
82,Volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0,7614.29
52,Mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0,7799.05
71,Toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0,8360.00
86,Volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0,9519.05
29,Honda,sedan,96.5,169.1,ohc,four,100,25,10345.0,9852.38
39,Mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0,11280.95
87,Volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0,12323.81
28,Honda,sedan,96.5,175.4,ohc,four,101,24,12945.0,12328.57
88,Volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0,12776.19
0,Alfa-Romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,12852.38
57,Nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0,12856.19
3,Audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,13285.71
5,Audi,sedan,99.8,177.3,ohc,five,110,19,15250.0,14523.81
79,Toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0,15000.00
9,Bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0,15647.62
1,Alfa-Romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,15714.29
10,Bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0,16119.05
4,Audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,16619.05
43,Mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0,17470.48
6,Audi,wagon,105.8,192.7,ohc,five,110,19,18920.0,18019.05
11,Bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0,19971.43
44,Mercedes-Benz,sedan,110.0,190.9,ohc,five,123,22,25552.0,24335.24
45,Mercedes-Benz,wagon,110.0,190.9,ohc,five,123,22,28248.0,26902.86
13,Bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0,29295.24
33,Jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0,30714.29
61,Porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0,32407.62
34,Jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0,33857.14
35,Jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0,34285.71
15,Bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0,35123.81
62,Porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0,35264.76
46,Mercedes-Benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0,39009.52
14,Bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0,39347.62
47,Mercedes-Benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0,43238.10

### As a Data Analyst, I want to rename the existing **price** column to show that it represents **price in USD**

In [11]:
renamed_df = title_cased_df.rename(columns= {'price':'price-USD'})
renamed_df

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price-USD,price-EUR
index,,,,,,,,,,
16,Chevrolet,hatchback,88.4,141.1,l,three,48,47,5151.0,4905.71
36,Mazda,hatchback,93.1,159.1,ohc,four,68,30,5195.0,4947.62
66,Toyota,hatchback,95.7,158.7,ohc,four,62,35,5348.0,5093.33
48,Mitsubishi,hatchback,93.7,157.3,ohc,four,68,37,5389.0,5132.38
37,Mazda,hatchback,93.1,159.1,ohc,four,68,31,6095.0,5804.76
50,Mitsubishi,hatchback,93.7,157.3,ohc,four,68,31,6189.0,5894.29
20,Dodge,hatchback,93.7,157.3,ohc,four,68,31,6229.0,5932.38
17,Chevrolet,hatchback,94.5,155.9,ohc,four,70,38,6295.0,5995.24
67,Toyota,hatchback,95.7,158.7,ohc,four,62,31,6338.0,6036.19
19,Dodge,hatchback,93.7,157.3,ohc,four,68,31,6377.0,6073.33
68,Toyota,hatchback,95.7,158.7,ohc,four,62,31,6488.0,6179.05
18,Chevrolet,sedan,94.5,158.8,ohc,four,70,38,6575.0,6261.90
54,Nissan,sedan,94.5,165.3,ohc,four,69,31,6649.0,6332.38
30,Isuzu,sedan,94.3,170.7,ohc,four,78,24,6785.0,6461.90
38,Mazda,hatchback,93.1,159.1,ohc,four,68,31,6795.0,6471.43
55,Nissan,sedan,94.5,165.3,ohc,four,69,31,6849.0,6522.86
69,Toyota,wagon,95.7,169.7,ohc,four,62,31,6918.0,6588.57
51,Mitsubishi,sedan,96.3,172.4,ohc,four,88,25,6989.0,6656.19
26,Honda,wagon,96.5,157.1,ohc,four,76,30,7295.0,6947.62
56,Nissan,wagon,94.5,170.2,ohc,four,69,31,7349.0,6999.05
80,Volkswagen,sedan,97.3,171.7,ohc,four,52,37,7775.0,7404.76
70,Toyota,wagon,95.7,169.7,ohc,four,62,27,7898.0,7521.90
81,Volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0,7595.24
82,Volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0,7614.29
52,Mitsubishi,sedan,96.3,172.4,ohc,four,88,25,8189.0,7799.05
71,Toyota,wagon,95.7,169.7,ohc,four,62,27,8778.0,8360.00
86,Volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0,9519.05
29,Honda,sedan,96.5,169.1,ohc,four,100,25,10345.0,9852.38
39,Mazda,hatchback,95.3,169.0,rotor,two,101,17,11845.0,11280.95
87,Volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0,12323.81
28,Honda,sedan,96.5,175.4,ohc,four,101,24,12945.0,12328.57
88,Volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0,12776.19
0,Alfa-Romero,convertible,88.6,168.8,dohc,four,111,21,13495.0,12852.38
57,Nissan,sedan,100.4,184.6,ohcv,six,152,19,13499.0,12856.19
3,Audi,sedan,99.8,176.6,ohc,four,102,24,13950.0,13285.71
5,Audi,sedan,99.8,177.3,ohc,five,110,19,15250.0,14523.81
79,Toyota,wagon,104.5,187.8,dohc,six,156,19,15750.0,15000.00
9,Bmw,sedan,101.2,176.8,ohc,four,101,23,16430.0,15647.62
1,Alfa-Romero,convertible,88.6,168.8,dohc,four,111,21,16500.0,15714.29
10,Bmw,sedan,101.2,176.8,ohc,four,101,23,16925.0,16119.05
4,Audi,sedan,99.4,176.6,ohc,five,115,18,17450.0,16619.05
43,Mazda,sedan,104.9,175.0,ohc,four,72,31,18344.0,17470.48
6,Audi,wagon,105.8,192.7,ohc,five,110,19,18920.0,18019.05
11,Bmw,sedan,101.2,176.8,ohc,six,121,21,20970.0,19971.43
44,Mercedes-Benz,sedan,110.0,190.9,ohc,five,123,22,25552.0,24335.24
45,Mercedes-Benz,wagon,110.0,190.9,ohc,five,123,22,28248.0,26902.86
13,Bmw,sedan,103.5,189.0,ohc,six,182,16,30760.0,29295.24
33,Jaguar,sedan,113.0,199.6,dohc,six,176,15,32250.0,30714.29
61,Porsche,hardtop,89.5,168.9,ohcf,six,207,17,34028.0,32407.62
34,Jaguar,sedan,113.0,199.6,dohc,six,176,15,35550.0,33857.14
35,Jaguar,sedan,102.0,191.7,ohcv,twelve,262,13,36000.0,34285.71
15,Bmw,sedan,110.0,197.0,ohc,six,182,15,36880.0,35123.81
62,Porsche,convertible,89.5,168.9,ohcf,six,207,17,37028.0,35264.76
46,Mercedes-Benz,sedan,120.9,208.1,ohcv,eight,184,14,40960.0,39009.52
14,Bmw,sedan,103.5,193.8,ohc,six,182,16,41315.0,39347.62
47,Mercedes-Benz,hardtop,112.0,199.2,ohcv,eight,184,14,45400.0,43238.10

### As a Data Analyst, I want to output my cleaned DataFrame as a .csv file
✅ I want to name this file `cleaned_cars_dataset.csv`<br>
✅ I want to specify the encoding type 'utf-8'<br>
✅ I want to include this .csv file in my GitHub repository

In [13]:
# i want to sort by index:
sorted_df = renamed_df.sort_values('index')
sorted_df
sorted_df.to_csv('cleaned_cars_dataset.csv', encoding='utf-8')